.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#passwordInput {
  margin-bottom: 10px;
}

button {
  background-color: salmon;
  color: black;
}
